POSTGRES_DB=agusta
POSTGRES_USER=postgres
POSTGRES_PASSWORD=agusta-dev-postgres-password

REDIS_PASSWORD=agusta-dev-redis-password

RUSTFS_ACCESS_KEY=agusta
RUSTFS_SECRET_KEY=agusta-dev-rustfs-password
RUSTFS_REGION=us-east-1
